@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --clr-base: #fdfdfd;
  --clr-base-accent:rgb(243, 243, 243);
  --clr-base-default: white;
  --clr-base-text: #353232;

  --clr-pink-base: ;
  --clr-pink-light: ;
  --clr-pink-dark: ;

  --clr-blue-base: #6182FF;
  --clr-blue-light: #fcfcff;
  --clr-blue-dark: ;

  --clr-grey-light: #f8f8f8;
  --clr-grey-base: rgb(218, 218, 218);

  --clr-peach-base: rgb(243, 93, 88);

  --clr-green-base: rgb(120, 172, 61);
  --clr-green-light: rgb(182, 224, 133);
  
}

@media (prefers-color-scheme: dark) {
:root {
  --clr-base: #121213;
  --clr-base-text: #F9F8F8;
  --clr-base-accent: rgb(85, 83, 83);
  --clr-base-default: rgb(61, 61, 61);

  --clr-grey-light: rgb(63, 61, 61);
  --clr-grey-base: rgba(204, 202, 202, 0.671);

  --clr-peach-base: rgb(243, 88, 140);

  --clr-green-base: rgb(120, 172, 61);
  --clr-green-light: rgb(182, 224, 133);
}
}

:root.dark {
  --clr-base: #121213;
  --clr-base-accent: rgb(58, 56, 56);
  --clr-base-default: rgb(61, 61, 61);
  --clr-base-text: #F9F8F8;

  --clr-pink-base: ;
  --clr-pink-light: ;
  --clr-pink-dark: ;

  --clr-blue-base: #6182FF;
  --clr-blue-light: #f0f3fd;
  --clr-blue-dark: ;

  --clr-grey-light: rgba(63, 59, 59, 0.39);
  --clr-grey-base: rgba(204, 202, 202, 0.671);
  --clr-grey-dark: rgb(156, 156, 156);

  --clr-peach-base: rgb(243, 88, 140);

  --clr-green-base: rgb(120, 172, 61);
  --clr-green-light: rgb(182, 224, 133);

}

body {
  background-color: var(--clr-base);
  color: var(--clr-base-text);
}

svg {
  fill: var(--clr-base-text);
}

h1,h2,h3,h4,h5,h6 {
  font-weight:600;
  line-height:1;
}

a {
  cursor:pointer;
}

input {
  background-color:transparent;
  border: solid 1px var(--clr-base-accent);
}

input:focus {
  outline:none;
}

@media screen and (min-width: 960px) {
  h1 {font-size: 4.5rem;}
  h2 {font-size: 2.2rem;}
  h3 {font-size: 1.5rem;}
  h4 {font-size: 1.0rem;}
  h5 {font-size: 0.8rem;}
  h6 {font-size: 0.6rem;}
}

@media screen and (max-width: 960px) {
  h1 {font-size: 3.2rem;}
  h2 {font-size: 2.0rem;}
  h3 {font-size: 1.4rem;}
  h4 {font-size: 0.8rem;}
  h5 {font-size: 0.6rem;}
  h6 {font-size: 0.5rem;}
}

